.navbarExtended {
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	padding: 10px 30px;
	color: #fff;

	ul:not(.firstListExtended) {
		@apply space-x-3;
		z-index: -100;
	}

	ul {
		list-style: none;
		margin-top: 50px;
		display: flex;

		button,
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;

			i {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}
}

.firstListExtended {
	@apply space-y-3;
	font-weight: 600;
	flex-direction: column;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 900;
	margin-top: 3px;
	text-shadow: 1px 1px 1px #00000071;
}

.logoExtended {
	@apply px-[12px] rounded-full;
	position: absolute;
	pointer-events: none;
	color: #e3e1e1db;
	border: 1px solid #bcbcbc56;
	left: 50%;
	opacity: 80%;
	transform: translateX(-50%);
	font-weight: 900;
	margin-top: 3px;
	text-shadow: 1px 1px 1px #00000071;
}
