.navbarExtended {
	position: absolute;
	top: 0;
	z-index: 100;
	display: flex;
	width: 100vw;
	justify-content: space-between;
	font-size: 16px;
	padding: 10px 30px;
	color: #fff;

	ul:not(.firstListExtended) {
		@apply space-x-3;
		z-index: -100;
		li {
			transition: all 0.3s ease-in-out;

			&:hover {
				@apply text-blue-500;
			}
		}
	}

	ul {
		@apply hidden md:flex;
		list-style: none;
		margin-top: 50px;

		button,
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;

			i {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}
}

.firstListExtended {
	@apply space-y-3;
	font-weight: 600;
	flex-direction: column;
}

.logoExtended {
	@apply px-[12px] rounded-full;
	position: absolute;
	pointer-events: none;
	color: #e3e1e1db;
	border: 1px solid #bcbcbc56;
	left: 50%;
	opacity: 80%;
	transform: translateX(-50%);
	font-weight: 900;
	margin-top: 3px;
	text-shadow: 1px 1px 1px #00000071;
}

// Horizontal
.navbar {
	@apply lg:bg-[#f5f3f3];
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	inset: 0;
	font-size: 16px;
	padding: 10px 180px;

	ul:not(.firstList) {
		@apply space-x-3;
		li {
			transition: all 0.3s ease-in-out;

			&:hover {
				@apply text-blue-500;
			}
		}
	}

	ul {
		@apply hidden lg:flex;
		font-weight: 600;
		@apply space-x-0;

		li {
			display: flex;
			font-size: 18px;
			font-weight: 700;
		}

		button,
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			padding: 8px 0;

			i {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}
}

.logo {
	@apply hidden lg:flex;
	position: absolute;
	left: 50%;
	top: -15px;
	padding: 15px 30px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	transform: translateX(-50%);
	font-weight: 900;
	font-size: 20px;
	background: rgb(37 99 235);
	color: #fff;
	text-shadow: 1px 1px 1px #000000c0;
}
