.opacityCurve {
	@apply w-[300%] -left-[20%] md:left-0 md:w-[200%] lg:w-[100%] -bottom-[15px] md:-bottom-[5px];
	opacity: 100%;
	z-index: 0;
	transform: rotate(180deg);
	position: absolute;
	// left: 0;
	overflow: hidden;
	line-height: 0;
}

.opacityCurve svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}

.opacityCurve .shapeFill {
	fill: #ffffff;
}
